/* Styles pour colorer les titres */
h1 {
    color: #007bff;
    background-color: #e9f7fe;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
}

h2 {
    color: #28a745;
    font-size: 1.8em;
    padding: 5px 0;
}

h3 {
    color: #ffc107;
    padding-left: 10px;
    font-style: italic;
}

h4, h5, h6 {
    color: #6c757d;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.2em;
}