{% extends 'Layouts/layout_vente.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" media="screen" type="text/css" title="default" href="{{ asset('css/titres.css') }}" />
{% endblock %}


{% block vue %}
    <h1>Bienvenue sur le site de vente de produits</h1>

    <p>Votre rôle : </p>
    <ul>
        {% for role in roles %}
            <li>{{ role }}</li>
        {% endfor %}
    </ul>
{% endblock %}
